$successColor: #b3ff99;
$failColor: #ff9999;
$rowColor: #ddd;

.page-intermediate {
	line-height: normal;
	
	* {
		max-width: none;
	}
	
	table {
		border-collapse: collapse;
		background-color: white;
		
		thead {
			background-color: #bbb;
			text-align: center;
		}
		
		tbody {
			tr {
				background-color: #eee;
				
				td {
					
				}
			}
		}
	}
	
	table.dependencies {
		tbody td {
			padding: 4px;
			
			&.depType {
				text-align: right;
			}
			&.depIndex {
				text-align: right;
				padding-left: 15px;
			}
			&.depToken {
				text-align: left;
			}
		}
	}
	
	table.word-parse {
		border-collapse: collapse;
		background-color: white;
		/*width: 100%;*/
		margin-top: 10px;
		
		thead {
			td {
				padding: 0px;
			}
		}
		tbody {
			tr {
				background-color: #ccc;
				
				&.properties-row {
					font-weight: bold;
				}

				&:first-child {
					background-color: #ccc;
				}
				&.eventRow:hover {
					background-color: #ffcccc;
				}
	/*
				&.eventRow:nth-child(odd) {
					background-color: #ddd;
				}

				&.eventRow:nth-child(even) {
					background-color: #fff;
				}
	*/
				
				td {
					font-size: 13px;
					padding: 2px;
					background-color: #eee;
						
					&.match {
						background-color: $successColor;
					}
					&.skip {
						background-color: $failColor;
					}
					&.dummyCell {
						background-color: #eee;
					}
					&.reasonCell {
						/*width: 900px;*/
						ul {
							font-family: monospace;
							margin: 0px;
						}
					}
					
					&.senseCell {
						width: 160px;
						text-align: center;
					}
					&.resultCell {
						/*width: 900px;*/
						ul {
							font-family: monospace;
							margin: 0px;
							padding-left: 0px;
							list-style-type: none;
						}
					}
					div.matches {
						text-align: center;
					}
	/*				span.failure {
						opacity: 0.4;
					}*/
				}
			}
		}
		
		span.pair {
			border: 1px solid black;
			padding: 1px;
			padding-top: 3px;
			padding-bottom: 4px;
			background-color: grey;
			white-space: pre;
			line-height: 26px;
		}
		span.word {
			line-height: 18px;
		}
		span.nullified {
			opacity: 0.3;
		}

		.word-header {
			text-align: center;
			font-weight: bold;
			background-color: #bbb;
			cursor: pointer;

			&:hover {
				background-color: #aaa;
			}
		}
	}

	span.highlightable {
		display: inline-block;
		padding: 0px 1px 0px 1px;
		border: 0.5px solid black;
		/*-webkit-box-sizing: border-box;
		height: 20px;*/
	}

	span.highlighted {
		border: 1px solid red !important;
		/*font-weight: bold;*/
		
	}

	.closed {
		display: none !important;
	}
}
