.page-tmr {


  #sentence {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $base;
    width: calc(100% - 20px);
    padding: 10px;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    span {
      @extend .highlightable;
    }
  }

  .tmr-container {
    background-color: $white;
    padding-top: 40px;
  }

  .tmr {
    table-layout: fixed;
    border-collapse: collapse;

    td {
      border-radius: 3px;
      background-color: transparent;
      transition: box-shadow 100ms, background-color 100ms;
    }

    td.highlight {
      box-shadow: 0px 2px 5px rgba(0, 0, 20, 0.2);
      background-color: #7AADF9;
    }
  }

  .minimize-frame {
    float: right;
    font-size: 26px;
    font-weight: normal !important;
    line-height: 13px;
  }

  .divider {
    height: 20px;
  }

  .frame-header {

    td {
      background-color: #F3F3F3;
      border-radius: 0;
      font-weight: bold;
      box-shadow: 0px 1px 2px rgba(0, 0, 10, 0.2);
      padding: 10px;
    }
  }

  .kv-pair {
    td {
      padding: 5px;
    }

    &.collapsed {
      display: none;
    }

    &-required {
      color: #000;
    }

    &-optional {
      color: #797984;
    }
  }
}

