extends ./layout.pug

block content
	div.col-2
	div.col-8
		= errorMessage
		if e
			div.error
				= e.stack
		form#input(method='post')
			textarea#sentence-input-textarea(placeholder='Paste a TMR set or intermediate logs', name='inputData')
			button#submit-tmr(type='submit') TMR
			button#submit-logs(type='submit') Intermediate Results
			button#listenButton(type='button', onclick='document.location="../listenTMR"') Listen for analyzer TMRs
			button#listenButton(type='button', onclick='document.location="../listenIntermediate"') Listen for analyzer logs
