extends ./layout.pug

block toolbar
	span#showHideAll.button(title='Collapses/Uncollapses all parsed sentences') Hide All

block content
	- // console.log('------------------------ generating the view ------------------------')
	div.col-12
		each results in parseResults
			- var sentenceIndex = parseResults.indexOf(results)
			include ./subintermediate

