doctype html
html(lang="en")
	- pageTitle = pageTitle ? pageTitle : ''

	head
		title #{pageTitle}
		link(rel='stylesheet', href='css/main.css')
		if clientStyles
			each styleName in clientStyles
				link(rel='stylesheet', href='css/' + styleName)

	body(class=pageTitle)
		header.container.gutters-sm-all
			div.col-1
				h6#headerTitle
					a(href='../') Ontosem
			block toolbar

		div.fixedcontent.container.gutters-sm-all
			block fixedcontent

		div.scroll
			div.container.gutters-sm-all.main
				block content
		if debugging
			div.container.gutters-sm-all.debugging
				div.col-12
					h3 Debugging:
					= test

		// pass client the JSON data if required
		if data
			div#data-sync= data


		script(src='js/jquery.min.js')
		script(src='js/layout.js')
		if clientscripts
			each scriptName in clientscripts
				script(src='js/' + scriptName)
		script
