extends ./layout.pug

//- toolbar which allows toggling of optional and Auxiliary attributes
block toolbar
	form
		input#toggleOptional(value="toggleOptional", type="checkbox", checked)
		label(for="toggleOptional") Show Optional Attributes
		input#toggleAuxiliary(value="toggleAuxiliary", type="checkbox", checked)
		label(for="toggleAuxiliary") Show Auxiliary Attributes
	span#minimize-all.sentence-minimize Hide All

//- main content (TMR views)
block content
	each result in results
		include ./tmr.pug
	div#bg-dim.hide
