extends ./layout.pug

//- toolbar which allows toggling of optional and Auxiliary attributes
block toolbar
	form
		input#toggleOptional(value="toggleOptional", type="checkbox", checked)
		label(for="toggleOptional") Show Optional
		input#toggleAuxiliary(value="toggleAuxiliary", type="checkbox", checked)
		label(for="toggleAuxiliary") Show Auxiliary
	span#minimize-all.sentence-minimize Hide All

//- render content when received via textbox
block content
	if via == 'index'
		each result in results
			include ./tmr.pug
		div#bg-dim.hide
	//- render content waiting on listener
	else if via == 'listener'
		div.col-1
		div.col-8
			form.hide(id='submitTMR', action='tmr', method='post')
				input(type='text', name='inputData', value='external')
			div.listen Waiting for data to be sent to the server...
	else
		div Received invalid request
