extends ./layout.pug

block content
	div.col-2
	div.col-8
		= errorMessage
		if e
			div.error
				= e.stack
		form#input( method='post')
			textarea#sentence-input-textarea(placeholder='Paste a TMR set or intermediate logs', name='inputData')
			button#post-tmr(type='submit') Post TMR
			button#post-logs(type='submit') Post Intermediate Results
			button#listenButton(type='button')
				a(href='../listenTMR') Listen for analyzer TMRs
			button#listenButton(type='button')
				a(href='../listenIntermediate') Listen for analyzer logs
