extends ./layout.pug


//- toolbar which allows toggling of optional and Auxiliary attributes
block toolbar
	form
		input#toggleOptional(value="toggleOptional", type="checkbox", checked)
		label(for="toggleOptional") Show Optional Attributes
		input#toggleAuxiliary(value="toggleAuxiliary", type="checkbox", checked)
		label(for="toggleAuxiliary") Show Auxiliary Attributes
	span#minimize-all.sentence-minimize Hide All

block content
	div.col-2
	div.col-8
		form.hidden(id='submitTMR', action='tmr', method='post')
			input(type='text', name='inputData', value='external')
		div Waiting for data to be sent to the server...
