.page-intermediate {
  line-height: normal; }
  .page-intermediate * {
    max-width: none; }
  .page-intermediate table {
    border-collapse: collapse;
    background-color: white; }
    .page-intermediate table thead {
      background-color: #bbb;
      text-align: center; }
    .page-intermediate table tbody tr {
      background-color: #eee; }
  .page-intermediate table.dependencies tbody td {
    padding: 4px; }
    .page-intermediate table.dependencies tbody td.depType {
      text-align: right; }
    .page-intermediate table.dependencies tbody td.depIndex {
      text-align: right;
      padding-left: 15px; }
    .page-intermediate table.dependencies tbody td.depToken {
      text-align: left; }
  .page-intermediate table.word-parse {
    border-collapse: collapse;
    background-color: white;
    /*width: 100%;*/
    margin-top: 10px; }
    .page-intermediate table.word-parse thead td {
      padding: 0px; }
    .page-intermediate table.word-parse tbody tr {
      background-color: #ccc;
      /*
				&.eventRow:nth-child(odd) {
					background-color: #ddd;
				}

				&.eventRow:nth-child(even) {
					background-color: #fff;
				}
	*/ }
      .page-intermediate table.word-parse tbody tr.properties-row {
        font-weight: bold; }
      .page-intermediate table.word-parse tbody tr:first-child {
        background-color: #ccc; }
      .page-intermediate table.word-parse tbody tr.eventRow:hover {
        background-color: #ffcccc; }
      .page-intermediate table.word-parse tbody tr td {
        font-size: 13px;
        padding: 2px;
        background-color: #eee;
        /*				span.failure {
						opacity: 0.4;
					}*/ }
        .page-intermediate table.word-parse tbody tr td.match {
          background-color: #b3ff99; }
        .page-intermediate table.word-parse tbody tr td.skip {
          background-color: #ff9999; }
        .page-intermediate table.word-parse tbody tr td.dummyCell {
          background-color: #eee; }
        .page-intermediate table.word-parse tbody tr td.reasonCell {
          /*width: 900px;*/ }
          .page-intermediate table.word-parse tbody tr td.reasonCell ul {
            font-family: monospace;
            margin: 0px; }
        .page-intermediate table.word-parse tbody tr td.senseCell {
          width: 160px;
          text-align: center; }
        .page-intermediate table.word-parse tbody tr td.resultCell {
          /*width: 900px;*/ }
          .page-intermediate table.word-parse tbody tr td.resultCell ul {
            font-family: monospace;
            margin: 0px;
            padding-left: 0px;
            list-style-type: none; }
        .page-intermediate table.word-parse tbody tr td div.matches {
          text-align: center; }
    .page-intermediate table.word-parse span.pair {
      border: 1px solid black;
      padding: 1px;
      padding-top: 3px;
      padding-bottom: 4px;
      background-color: grey;
      white-space: pre;
      line-height: 26px; }
    .page-intermediate table.word-parse span.word {
      line-height: 18px; }
    .page-intermediate table.word-parse span.nullified {
      opacity: 0.3; }
    .page-intermediate table.word-parse .word-header {
      text-align: center;
      font-weight: bold;
      background-color: #bbb;
      cursor: pointer; }
      .page-intermediate table.word-parse .word-header:hover {
        background-color: #aaa; }
  .page-intermediate span.highlightable {
    display: inline-block;
    padding: 0px 1px 0px 1px;
    border: 0.5px solid black;
    /*-webkit-box-sizing: border-box;
		height: 20px;*/ }
  .page-intermediate span.highlighted {
    border: 1px solid red !important;
    /*font-weight: bold;*/ }
  .page-intermediate .closed {
    display: none !important; }
